@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
 font-family: Outfit;
}


@theme {
   --color-primary-50: #9ca3af;
   --color-primary-100: #5f6fff;
   --color-primary-200: #bfdbfe;
   --color-primary-300: #93c5fd;
   --color-primary-400: #60a5fa;
   --color-primary-500: #3b82f6;
   --color-primary-600: #2563eb;
   --color-primary-700: #1d4ed8;
   --color-primary-800: #1e40af;
   --color-primary-900: #1e3a8a;
 }


 .active hr{
   @apply block
 }


 ::-webkit-scrollbar{
   @apply hidden
 }


 @media (max-width:740px) {
   .active p{
     @apply text-white bg-primary-500
   }
 }